<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaseDatosMusica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaseDatosMusica.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hiberus FM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Artistas" asp-action="Index">Artistas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Canciones" asp-action="Index">Canciones</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Colaboraciones" asp-action="Index">Colaboraciones</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Conciertoes" asp-action="Index">Conciertos</a>
                        </li> 

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Discoes" asp-action="Index">Discos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Generoes" asp-action="Index">Géneros</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Giras" asp-action="Index">Giras</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Grupoes" asp-action="Index">Grupos</a>
                        </li> 

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Managers" asp-action="Index">Managers</a>
                        </li> 

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Consultas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Discoes" asp-action="IndexConsulta">Consulta K-pop</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Conciertoes" asp-action="IndexConsulta">Consulta conciertos sin gira</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Artistas" asp-action="IndexConsulta">Consulta 80's</a></li>
                               @*  <li><a class="dropdown-item" asp-area="" asp-controller="Discoes" asp-action="DiscosSinCanciones">Discos sin Canciones</a></li> *@
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
