@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="curiosidades"><strong>CURIOSIDADES DEL MUNDO DEL ROCK</strong></h1>
    <div class="interlineadocontainer">
        <div class="fila fila-1">
            <div class="imagen">
                <img src="img/concierto mas multitudinario.jpg" alt="Imagen 1" width="100%">
            </div>

            <div class="texto">
                <h1><strong>El concierto de Rock más multitudinario</strong></h1>
                <p>
                    <strong>
                        Fue el de Jean-Michel Jarre en Moscú <br>
                        en 1997, con una asistencia estimada de 3,5 millones de personas. <br>
                        Se celebró en el marco del 850 aniversario de la ciudad <br>
                        se tituló "Oxygene in Moscow".<div class="br"></div>

                        Siendo el 2º puesto  <br>
                        The Rolling Stones en Río de Janeiro (2006) con 2 millones de personas.
                    </strong>
                </p>

            </div>
        </div>
    </div>

    <div class="interlineadocontainer">
        <div class="fila fila-2">
            <div class="texto">
                <h1><strong>El grupo de rock con más ventas</strong></h1>
                <p>
                    <strong>
                        The Beatles.
                        Se estima que han vendido más de 600 millones de discos en todo el mundo.
                        El top lo ostentan
                        <ol>
                            <li>The Beatles: más de 600 millones de discos</li>
                            <li>The Rolling Stones: 242,6 millones de álbumes</li>
                            <li>Pink Floyd: 235,8 millones de álbumes</li>
                            <li>Led Zeppelin: 205,6 millones de álbumes.</li>
                            <li>AC/DC: 200 millones de álbumes.</li>
                            <li>Metallica: 163,6 millones de álbumes</li>
                        </ol>
                    </strong>
                </p>
            </div>

            <div class="imagen ">
                <img src="img/Portada-Beatles.jpg" alt="Imagen 2" width="100%">
            </div>
        </div>
    </div>

    <div class="interlineadocontainer">
        <div class="fila fila-3">
            <div class="imagen">
                <img src="img/nirvanaLogo.jpg" alt="Imagen 3" width="100%">
            </div>

            <div class="texto">
                <h1><strong>¿SABÍAS QUÉ?</strong></h1>
                <p>
                    <strong>
                        Expulsaron a Nirvana de su propia fiesta de lanzamiento de su álbum "Nevermind
                        Nirvana" en 1991. La fiesta se celebró en el Re-Bar de Seattle, Washington,
                        y según los informes, la banda comenzó a tirar comida y a romper cosas después de haberse
                        cansado de escuchar su propio disco.
                        El gerente del local les pidió que se marcharan, y la banda se fue sin causar más problemas.
                    </strong>
                </p>
            </div>
        </div>
    </div>

    <div class="interlineadocontainer">
        <div class="fila fila-4">
            <div class="texto">
                <h1><strong>EXISTE EL DÍA DEL ROCK</strong></h1>
                <p>
                    <strong>
                        El 13 de Julio se conmemora el Día Mundial del Rock desde 1985,
                        año en el que se creó el Live Aid, un concierto creado por el músico Bob Geldof,
                        que tenía como objetivo ayudar a Etiopía, dada su situación económica, política y social del momento.
                    </strong>
                </p>
            </div>

            <div class="imagen">
                <img src="img/diarockk32.jpg" alt="Imagen 4" width="100%">
            </div>
        </div>
    </div>
</div>
